.vehicle-card {
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
    /* align-items: center; */
    /* margin: auto; */
    margin-top: 200px;
    padding: 60px;
    gap: 30px;
}   

.details {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap; 
    gap: 90px;
}
.title {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.chunk-title {
    display: block;
    font-size: 30px;
    /* text-decoration: underline; */
    font-style: italic;
    color: rgb(87, 87, 87);
    
}